*{margin: 0; padding: 0}

#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  height: 80px;
  background: beige;
}
header #logo{
  width: 200px;
  height: 80px;
  float: left;
  line-height: 80px;
  padding-left: 20px;
}
header #logo h1 a{color: orange; text-decoration: none;}
header #logo h1 a:hover{color: rgb(211, 3, 3);}
nav{
  width: 760px;
  height: 80px;
  float: right;
  line-height: 80px;
  text-align: right;
}
nav ul{padding-left: 100px;}
nav ul li{
  list-style: none;
  float: left;
}
ul li a{
  text-decoration: none;
  display: block;
  padding: 0 30px;
  color: black;
}
ul li a:hover{
  background-color: rgb(148, 181, 1);
  color: white;
}
section{
  margin: 20px;
}