<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #wrap{
      width: 200px;
      height: 200px;
      border: 1px solid #444;
      position: relative;
    }
    .box{
      width: 50px;
      height: 50px;
      position: absolute;
      background: #0094ff;
    }
    #xy1{top: 0; left: 0;}
    #xy2{top: 0; right: 0;}
    #xy3{bottom: 0; left: 0;}
    #xy4{bottom: 0; right: 0;}
  </style>
</head>
<body>
  <div id="wrap">
    <div class="box" id="xy1"></div>
    <div class="box" id="xy2"></div>
    <div class="box" id="xy3"></div>
    <div class="box" id="xy4"></div>
   </div>
</body>
</html>